.group-discus{
    display: flex;
    justify-content: space-between;
}
.group-left h3{
    font-size: 38px;
    font-weight: 600;
}
.group-left p{
    color: #282938;
    padding-top: 31px;
    
}
.group-ab p{
    font-weight: 600;
}

.group-right img{
    height: 336px;
    width: 547px;
}